.contact-us-module {
  margin-top: 50px;
  margin-left: 50px;
  height: 604px;
  width: 918px;
  background: #FFFFFF;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .exit {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 900px;
    top: 85px;
  }

  input {
    height: 40px;
    margin-top: 60px;
    border-left: none;
    border-top: none;
    border-right: none;
    background: none;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
    padding-left: 8px;
  }

  input::placeholder {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  input:focus {
    border: none;
  }

  .text {
    width: 590px;
  }

  .inputs {
    display: flex;

    .left-inputs {
      display: flex;
      flex-direction: column;
      input {
        width: 230px;
      }
    }

    .right-inputs {
      display: flex;
      flex-direction: column;

      input {
        width: 280px;
        margin-left: 90px;
      }
    }
  }

  .lets-talk {
    margin-top: 50px;
    width: 326px;
    height: 64px;
    background: #8FA1FF;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 10px;
    border: none;
    font-family: Cooper;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
  }

  p {
    margin: 30px;
    font-size: 24px;
    line-height: 33px;
    font-family: Alata;
  }

  .message {
    display: flex;
    margin-bottom: 50px;
    .telegram {
      margin-left: 100px;
    }

    img {
      height: 55px;
      width: 55px;
    }
  }
}