@font-face {
  font-family: 'mr_VlaShu';
  src: url('../assets/fonts/mr_vlashu_vlashu.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Cooper_Black';
  src: url('../assets/fonts/COOPBL.TTF');
  font-style: normal;
}

@font-face {
  font-family: 'Alata';
  src: url('../assets/fonts/Alata-Regular.woff');
  font-style: normal;
}

@font-face {
  font-family: 'Caviar_dreams';
  src: url('../assets/fonts/caviar-dreams.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../assets/fonts/muller.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'SFNS_display';
  src: url('../assets/fonts/sfns-display.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Glober_semi_bold';
  src: url('../assets/fonts/globersemiboldfree.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium.ttf');
  font-style: normal;
}