@font-face {
  font-family: 'mr_VlaShu';
  src: url('../assets/fonts/mr_vlashu_vlashu.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Cooper_Black';
  src: url('../assets/fonts/COOPBL.TTF');
  font-style: normal;
}

@font-face {
  font-family: 'Alata';
  src: url('../assets/fonts/Alata-Regular.woff');
  font-style: normal;
}